#content {
    padding: 16px;
}

.content__title {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.content__btns button {
    padding: 8px 12px;
    border: 1PX SOLID rgb(237, 91, 133);
    background: white;
    color: rgb(237, 91, 133);
    margin-right: 12px;
    border-radius: 8px;
}

.content__btns button:hover {
    background: rgb(255, 143, 174);
    color: white;
    cursor: pointer;
}

.content__btns span {
    margin-left: 8px;
}