#side-bar {
    padding: 16px;
    color: #666;
    position: relative;
    border: 1px solid #999;
}

#side-bar img {
    display: block;
}

.side-bar__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
}

.side-bar__link {
    display: flex;
    width: 100%;
    padding: 8px;
    align-items: center;
    margin: 6px auto;
    border-radius: 8px;
}

.side-bar__link:hover {
    background-color: rgb(255, 92, 157);
    cursor: pointer;
    color: white;
}

.side-bar__link:hover img {
    filter: brightness(0) invert(1);
}

.side-bar__footer {
    background: rgb(218, 246, 255);
    padding: 12px 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.side-bar__footer img {
    display: block;
    width: 100%;
    margin-bottom: 8px;
}

.side-bar__footer button {
    margin-top: 8px;
    padding: 6px 8px;
    border-radius: 6px;
    width: 100%;
    background: white;
    color: rgb(54, 179, 221);
    border: 1px solid rgb(54, 179, 221);
}

.side-bar__footer button:hover {
    background: rgb(54, 179, 221);
    color: white;
    cursor: pointer;
}

.side-bar__link {
    display: flex;
    align-items: center;
}

.side-bar__link img {
    margin-right: 8px;
}

.active {
    background-color: rgb(255, 92, 157);
    color: white;
}

.active img {
    filter: brightness(0) invert(1);
}