#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    background: dimgray;
    z-index: 10;
}

.header__nav {
    display: flex;;
}

.header__nav-item {
    list-style: none;
}

.header__nav-link {
    color: white;
    padding: 0 1em;
}